*{
    box-sizing: border-box;
    
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: bold;
    color: #ffffff;
}

h3 {
    font-weight: bold;
    color: #304875;
}

.forecast {
    font-size: 0.9em;
}

span {
    font-size: 1em;
}

li:hover {
    background-color: rgb(172, 202, 232);
    text-decoration: none;
}

ul {
	list-style: none;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}

.footer {
    background-color: #304875;
}